/****** basic style ******/

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    padding: 50px 0;
}
.half-container{
    width: 70%;
    margin: auto;
}
.container{
    width: 90%;
    margin: auto;
}
.btn{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #FF5959;
    display: inline-block;
    margin-top: 20px;
    border: none;
}
.flex-item{
    display: flex;
}
.half-width{
    width: 50%;
}

/****** banner style ******/


#banner-area{
    background-image: linear-gradient(#000000b3, #000000b3), url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text{
    color: #ededed;
    padding: 100px 0;
    text-align: center;
}
.banner-text h1{
    font-size: 60px;
    font-weight: 600;
}
.banner-text p{
    font-size: 20px;
    line-height: 35px;
}

/****** donate area ******/

#donate-area{
    text-align: center;
}
#donate-area h1{
    font-size: 60px;
}
#donate-area p{
    font-size: 20px;
}
#donate-area input{
    width: 80%;
    display: block;
    margin: auto;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #DADADA;
}
.ammounts p span{
    display: inline-block;
    font-weight: 600;
    font-size: 30px;
    background-color: #FAFAFA;
    color: #707070;
    padding: 33px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.ammounts p .active{
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
}
/****** plan area ******/
#plan-area{
    background-color: #dcdde1;
}
#plan-area h1{
    font-size: 60px;
    text-align: center;
}
#plan-area .plan-header-text{
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.plans{
    display: flex;
}
.single-plan{
    width: 30%;
    padding: 50px 10px 20px 20px;
    margin-left: 3.33%;
    border-radius: 10px;
    text-align: left;
}
.single-plan img{
    height: 65px;
}
.single-plan h3{
    font-size: 25px;
}
.food{
    background-color: #ffeaa7;
}
.medicine{
    background-color: #fab1a0;
}
.education{
    background-color: #a29bfe;
}

/****** global donation area ******/




/****** update area ******/

#update-area h1{
    font-size: 60px;
    text-align: center;
}
#update-area p{
    font-size: 20px;
    text-align: center;
}
.form-area{
    background-color: #FFF4D6;
    text-align: center;
}
.form-area .form-box{
    padding: 75px 0;
}
.form-area a{
    width: 20%;
    margin-top: 0;
    border-radius: 0;
}
.form-area input{
    font-size: 20px;
    border: none;
    background-color: #D9D9D9;
    color: #AA9F9F;
    padding: 16px 10px;
    margin: 0;
    width: 40%;
}

/****** footer area ******/

footer{
    background-color: #0B0D17;
    text-align: center;
    color: #ffffff;
    padding: 30px 0;
}
footer h4{
    font-size: 30px;
    color: #487eb0;
    margin: 0;
    padding: 20px 0;
}